# PYTHON TUPLES:

In [1]:
a = ("Giri", "Rekha", "Rakshitha")
print(a)

('Giri', 'Rekha', 'Rakshitha')

In [3]:
# Allow duplicates:
b = ("Giri", "Prabhu", "Rekha", "Giri", "Rakshitha")
print(b)

('Giri', 'Prabhu', 'Rekha', 'Giri', 'Rakshitha')

In [4]:
# Tuple length:

c = ("Giri", "Prabhu", "Rekha", "Giri", "Rakshitha")
print(len(c))

5

In [5]:
# Tuple with one item:

d = ("G BOSS", )
print(type(d))

# Not a tuple:

d = ("G BOSS")
print(type(d))

<class 'tuple'>
<class 'str'>

In [6]:
# Tuple can be any data types:
e = ("giri", 42, True, 25, "male")
print(type(e))

<class 'tuple'>

### PYTHON ACCESS TUPLES:

In [13]:
f = (1,2,3,4,5,6,7,8,9)

print(f[1])
print(f[-1])
print(f[0 : 6])
print(f[: 5])
print(f[5 :])

2
9
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5)
(6, 7, 8, 9)

In [14]:
colors = ("red", "green", "blue")

print(colors[0])   # red
print(colors[1])   # green
print(colors[-1])  # blue

red
green
blue

In [17]:
# Check if items exists:

g = ("jawa", 42, "FJ", "Giri")

if 42 in g:
    print("Yes, 42 is in the tuple")

Yes, 42 is in the tuple

### PYTHON UPDATE TUPLES:

In [18]:
# Change fruit name:

fruits = ("guava", "orange", "mango")
temp = list(fruits)
temp[1] = "banana"
fruits = tuple(temp)
print(fruits)

('guava', 'banana', 'mango')

In [19]:
# Add a new city:
cities = ("Bengaluru", "Mysuru")
temp = list(cities)
temp.append("Haveri")
cities = tuple(temp)
print(cities)

('Bengaluru', 'Mysuru', 'Haveri')

In [20]:
# Remove item:

colors = ("r", "g", "b")
temp = list(colors)
temp.remove("b")
colors = tuple(temp)
print(colors)

('r', 'g')

In [23]:
# Delete tuple:
numbers = (1,2,3,4)
del numbers

### UNPACK TUPLES:

In [24]:
# Student details:
student = ("giri", 25, "python")
name, age, course = student
print(name, age, course)

giri 25 python

In [25]:
# Co-ordinates:
point = (10, 12)
x, y = point
print(x,y)

10 12

In [26]:
# Using asterisk *:
n = (1,2,3,4,5,6,7,8,9,10)
a, b, * rest = n
print(a, b, rest)

1 2 [3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# Ignore value:
data = ("admin", "1234", "activate")
role, _, status = data
print(role, status)

admin activate

### LOOP TUPLES:

In [28]:
p = ("eagle", "parrot", "dove")
for birds in p:
    print(birds)

eagle
parrot
dove

In [29]:
# using index:

q = ("eagle", "parrot", "dove")
for i in range(len(q)):
    print(i, q[i])

0 eagle
1 parrot
2 dove

In [30]:
# Loop marks:
marks = (76, 89 ,98)
for m in marks:
    print(m)

76
89
98

In [31]:
# while loop:
r = ("eagle", "parrot", "dove")
i = 0
while i < len(r):
    print(r[i])
    i += 1

eagle
parrot
dove

### JOIN TUPLES:

In [32]:
# Join animals:

s = ("wolf", "fox", "cheetah")
t = ("cow", "buffalo", "ox")

u = s + t
print(u)

('wolf', 'fox', 'cheetah', 'cow', 'buffalo', 'ox')

In [33]:
# Join numbers:

v = (1, 2, 3)
w = (4, 5, 6)

print(v + w)

(1, 2, 3, 4, 5, 6)

In [34]:
# Repeat tuple:
nums = (1, 2, 3)
print(nums * 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [35]:
# Join student batches:

batch1 = ("Giri", "Basava", "Ravi")
batch2 = ("Rakshitha", "Sita", "Kavita")

all_students = batch1 + batch2
print(all_students)

('Giri', 'Basava', 'Ravi', 'Rakshitha', 'Sita', 'Kavita')