# PYTHON DICTIONARIES:

In [129]:
thedict = {
    "name" : "Giri",
    "age" : 27,
    "role" : "developer"
}
print(thedict)

{'name': 'Giri', 'age': 27, 'role': 'developer'}

In [130]:
thedict = {
    "name" : "Giri",
    "age" : 27,
    "role" : "developer"
}
print(thedict["name"])

Giri

In [131]:
# Duplicates not allowed:
thedict = {
    "name" : "Giri",
    "age" : 27,
    "role" : "developer",
    "age" : 25
}
print(thedict)

{'name': 'Giri', 'age': 25, 'role': 'developer'}

In [132]:
tdict = {
  "brand": "Jawa",
  "electric": False,
  "year": 1942,
  "colors": ["red", "white", "blue"]
}

print(tdict)
print(len(tdict))
print(type(tdict))

{'brand': 'Jawa', 'electric': False, 'year': 1942, 'colors': ['red', 'white', 'blue']}
4
<class 'dict'>

In [133]:
#dict constructor:
a = dict(name = "B", age = 23, country = "India")
print(a)

{'name': 'B', 'age': 23, 'country': 'India'}

### ACCESS DICTIONARY ITEMS:

In [134]:
# Employee name:
thedict = {
    "name" : "Giri",
    "age" : 27,
    "role" : "developer",
    "age" : 25
}
print(thedict["role"])

# By using get()

c = thedict.get("name")
print(c)

developer
Giri

In [135]:
# Product price:
product = {
    "item": "Laptop",
    "price": 55000,
    "brand": "HP"
}

print(product.get("price"))

55000

In [136]:
# City name:
address = {
    "city": "Bangalore",
    "state": "Karnataka",
    "pincode": 560001
}

print(address["city"])

Bangalore

### CHANGE DICTIONARY ITEMS:

In [137]:
# Update marks:

s = {
    "name" : "Rekha",
    "marks" : 99
}

s["marks"] = 100
print(s)

{'name': 'Rekha', 'marks': 100}

In [138]:
# Change mobile price:
mobile = {
    "brand": "Realme",
    "price": 15000
}

mobile["price"] = 14000
print(mobile)

{'brand': 'Realme', 'price': 14000}

In [139]:
#Update status:
order = {
    "order_id": 101,
    "status": "Pending"
}

order["status"] = "Delivered"
print(order)

{'order_id': 101, 'status': 'Delivered'}

In [140]:
# Changing existing item:
student = {
    "name": "Anu",
    "marks": 75
}

student.update({"marks": 85})
print(student)

{'name': 'Anu', 'marks': 85}

### ADD DICTIONARY ITMES:

In [141]:
# Add grade:
student = {
    "name": "Ravi",
    "marks": 88
}

student["grade"] = "A"
print(student)

{'name': 'Ravi', 'marks': 88, 'grade': 'A'}

In [142]:
# Add email:
user = {
    "username": "giri24"
}

user["email"] = "giri@gmail.com"
print(user)

{'username': 'giri24', 'email': 'giri@gmail.com'}

In [143]:
# Add fuel type:
car = {
    "brand": "Honda",
    "year": 2022
}

car["fuel"] = "Petrol"
print(car)

{'brand': 'Honda', 'year': 2022, 'fuel': 'Petrol'}

In [144]:
# Add new item:
employee = {
    "name": "Ravi",
    "salary": 30000
}

employee.update({"department": "IT"})
print(employee)

{'name': 'Ravi', 'salary': 30000, 'department': 'IT'}

In [145]:
# Adding multiple items at once:
profile = {
    "username": "giri24"
}

profile.update({
    "email": "giri@gmail.com",
    "city": "Bangalore",
    "role": "Developer"
})

print(profile)

{'username': 'giri24', 'email': 'giri@gmail.com', 'city': 'Bangalore', 'role': 'Developer'}

### REMOVE DICTIONARY ITEMS:

In [146]:
# Remove age:
person = {
    "name": "Sita",
    "age": 30,
    "city": "Mysore"
}

person.pop("age")
print(person)

{'name': 'Sita', 'city': 'Mysore'}

In [147]:
# By popitem():
n = {
    "name": "Sita",
    "age": 30,
    "city": "Mysore",
    "salary" : 100000
}

n.popitem() #Removes the last inserted item.
print(n)

{'name': 'Sita', 'age': 30, 'city': 'Mysore'}

In [148]:
# Delete year:
bike = {
    "brand": "Yamaha",
    "year": 2021,
    "color": "Blue"
}

del bike["year"]
print(bike)

{'brand': 'Yamaha', 'color': 'Blue'}

In [149]:
# Clear dictionary:
temp_data = {
    "a": 10,
    "b": 20
}

temp_data.clear()
print(temp_data)

{}

### LOOP THROUGH DICTIONARIES:

In [150]:
# loop keys:
book = {
    "title": "Python",
    "author": "XYZ",
    "price": 500
}

for key in book:
    print(key)

title
author
price

In [151]:
# Loop keys by key():
marks = {
    "Maths": 80,
    "Science": 85
}

for e in marks.keys():
    print(e)

Maths
Science

In [152]:
# Loop values:
book = {
    "title": "Python",
    "author": "XYZ",
    "price": 500
}

for value in book:
    print(book[value])

Python
XYZ
500

In [153]:
# Loop values by value():
marks = {
    "Maths": 80,
    "Science": 85
}

for value in marks.values():
    print(value)

80
85

In [154]:
# Loop keys and values by items():

employee = {
    "name": "Kiran",
    "salary": 30000,
    "dept": "IT"
}

for key, value in employee.items():
    print(key, ":", value)

name : Kiran
salary : 30000
dept : IT

### COPY DICTIONARY ITEMS:

In [155]:
# Uing copy():
original = {
    "a": 1,
    "b": 2
}

duplicate = original.copy()
print(duplicate)

{'a': 1, 'b': 2}

In [156]:
# Using dict:

data = {
    "x": 100,
    "y": 200
}

data_copy = dict(data)
print(data_copy)

{'x': 100, 'y': 200}

In [157]:
# Modify copy:
profile = {
    "name": "Giri",
    "role": "Developer"
}

profile_copy = profile.copy()
profile_copy["role"] = "Senior Developer"

print(profile)
print(profile_copy)

{'name': 'Giri', 'role': 'Developer'}
{'name': 'Giri', 'role': 'Senior Developer'}

### NESTED DICTIONARIES:

In [158]:
# Bank accounts:
bank = {
    "acc1": {"name": "Raju", "balance": 5000},
    "acc2": {"name": "Meena", "balance": 10000}
}

print(bank["acc2"]["balance"])
print(bank)

10000
{'acc1': {'name': 'Raju', 'balance': 5000}, 'acc2': {'name': 'Meena', 'balance': 10000}}

In [159]:
# College students:
college = {
    "student1": {"name": "Asha", "marks": 90},
    "student2": {"name": "Ravi", "marks": 85},
    "student3": {"name": "Meena", "marks": 88}
}

print(college["student2"]["name"])
print(college["student3"]["marks"])

Ravi
88

In [160]:
# Loop nested dictionary - outer keys:
employees = {
    "E1": {"name": "Raj", "salary": 30000},
    "E2": {"name": "Anu", "salary": 45000}
}

for emp_id in employees:
    print(emp_id)

E1
E2

In [161]:
# Loop nested dictionary - outer key + inner dictionary:
# print full employee data:

employees = {
    "E1": {"name": "Raj", "salary": 30000},
    "E2": {"name": "Anu", "salary": 45000}
}

for emp_id, details in employees.items():
    print(emp_id, details)

E1 {'name': 'Raj', 'salary': 30000}
E2 {'name': 'Anu', 'salary': 45000}

In [162]:
# Loop inner dictionary (key + value):
# Print Each Employee Details Clearly:

e = {
    "E1": {"name": "Giri", "salary": 100000},
    "E2": {"name": "Rakshitha", "salary": 45000}
}

for e_id, details in e.items():
    print("Employee:", e_id)
    for key, value in details.items():
        print(key, ":", value)

Employee: E1
name : Giri
salary : 100000
Employee: E2
name : Rakshitha
salary : 45000

In [163]:
# Access using loop + condition:
# print salary only:
employees = {
    "E1": {"name": "Raj", "salary": 30000},
    "E2": {"name": "Anu", "salary": 45000}
}

for details in employees.values():
    print(details["salary"])

30000
45000

In [164]:
# Nested dictionary with subjects:
# student marks:
students = {
    "Giri": {"Maths": 90, "Science": 85},
    "Rekha": {"Maths": 88, "Science": 92}
}

for name, subjects in students.items():
    print(name)
    for subject, marks in subjects.items():
        print(subject, "=", marks)

Giri
Maths = 90
Science = 85
Rekha
Maths = 88
Science = 92

In [165]:
# 3-Level nested dictionary:
# School → Class → Student:

s = {
    "Class10" : {
        "student1" : {"name" : "Giri", "marks" : 99},
        "student2" : {"name" : "Rakshitha", "marks" : 98}
    }
}

print(s["Class10"]["student2"]["name"])

Rakshitha

In [166]:
# Full company data:

c = {
    "Company" :{
        "employee1" : {"name" : "giri", "salary" : 100000},
        "employee2" : {"name" : "basava", "salary" : 50000}
    }
}

for company_name, employees in c.items():
    print(company_name)
    for employee_id, details in employees.items():
        print(employee_id)
        for key, value in details.items():
            print(key, ":", value)

Company
employee1
name : giri
salary : 100000
employee2
name : basava
salary : 50000

In [167]:
# Bank data loop:
bank = {
    "acc1": {"name": "Raju", "balance": 5000},
    "acc2": {"name": "Meena", "balance": 12000}
}

for acc_no, info in bank.items():
    print("Account:", acc_no)
    print("Name:", info["name"])
    print("Balance:", info["balance"])

Account: acc1
Name: Raju
Balance: 5000
Account: acc2
Name: Meena
Balance: 12000