# PYTHON OPERATORS:

### ARITHMETIC OPERATORS:

`+ - * / % ** //`

In [13]:
# Daily expenses
tea = 10
coffee = 20
print(tea + coffee)      # total cost

30

In [14]:
# Balance left
total = 500
spend = 250
print(total - spend)

250

In [15]:
# Cost per egg
egg_price = 6
quantity = int(input("Enter number of eggs: "))

print(egg_price * quantity)

Enter number of eggs:  8

48

In [16]:
# Salary per day
monthly_salary = 30000
print(monthly_salary / 30)

1000.0

In [17]:
# Even or odd check:
number = 18
print(number % 2)

0

In [18]:
# Power calculation:
c = 4
d = 5

print(c ** d)

1024

In [19]:
# Full hours calculation:
minutes = 350
print(minutes // 60)

5

**Time problems:**

`Full units      → //`

`Remaining units → %`

`Exact value     → /`

In [20]:
minutes = 350

hours = minutes // 60      # full hours
remaining = minutes % 60  # remaining minutes

print(hours, remaining)

5 50

### ASSIGNMENT OPERATORS:

`= += -= *= /= %=`

In [21]:
# Bank balance update:
balance = 5000
balance += 400

print(balance)

5400

In [22]:
# Expense deduction:
balance -= 300
print(balance)

5100

In [23]:
# Repeated work:
hours = 3
hours *= 4
print(hours)

12

In [24]:
# Sharing bill:
bill = 1400
bill /= 5

print(bill)

280.0

### COMPARISON OPERATORS:

`== != > < >= <=`

In [26]:
# Age eligibility:
age = 18
print(age >= 18)

True

In [27]:
# Password check:
password = "python"
print(password == "python")

True

In [28]:
# Marks comparison:
marks = 45
print(marks < 50)

True

In [29]:
# Login validation:
username = "admin"
print(username != "guest")

True

### LOGICAL OPERATORS:

`and, or, not`

In [30]:
# Exam pass condition:
marks = 70
attendence = True
print(marks >= 50 and attendence)

True

In [31]:
# Weekend or holiday:
is_sunday = False
is_holiday = True
print(is_sunday or is_holiday)

True

In [32]:
# Not operator:
is_raining = False
print(not is_raining)

True

In [33]:
# Job eligibility:
age = 25
experience = 4
print(age >= 21 and experience >= 3)

True

### IDENTITY OPERATORS:

`is, is not`

In [34]:
# Same object check:
a = [1,2,3,4,5]
b = a

print(a is b)

True

In [35]:
# Different object same value:
a = [1,2]
b = [1,2]
print( a is b)

False

In [36]:
# is not - example:

print( a is not b)

True

In [37]:
# None check:
result = None
print(result is None)

True

### MEMBERSHIP OPERATORS:

`in, not in`

In [38]:
# Item in list:
fruits = ["grapes", "guava", "mango"]
print("mango" in fruits)

True

In [43]:
# Not in - example
print("banana" not in fruits)

True

In [41]:
# word in sentence:
txt = "python is easy"
print("easy" in txt)

True

In [42]:
# Number check:
numbers = [10, 20, 30, 40]
print(50 in numbers)

False

### BITWISE OPERATORS:

`& | ^ ~ << >>`

In [46]:
# AND:
w = 8
x = 4
print(w & x)

0

In [48]:
# OR:
b = 24
c = 42
print( b | c)

58

In [49]:
# XOR:
d = 12
e = 2

print( d ^ e)

14

In [52]:
# NOT:
g = 3

print(~g)

-4

In [53]:
# Left shift:
print(6 << 2)

24

In [54]:
# Right shift:
print(6 >> 2)

1

### OPERATOR PRECEDENCE:

`()`

`**`

`*, /, //, %`

`+, -`

`< > <= >=`

`== !=`

`not`

`and`

`or`

In [55]:
# Parentheses():
a = 5
b = 3
result = (a + b) * 2
print(result)

# Execution order:
# (5 + 3) → 8 → 8 * 2 = 16

16

In [56]:
# Power **

a = 2
b = 3
result = a ** b + 1
print(result)

# Order:
# 2 ** 3 = 8 → 8 + 1 = 9

9

In [58]:
# Multiplication before Addition * then +

a = 10
b = 5
c = 2

result = a + b * c
print(result)

# Order:
# 5 * 2 = 10 → 10 + 10 = 20

20

In [59]:
# Division vs Floor Division / vs //

total_minutes = 350
hours_exact = total_minutes / 60
hours_full = total_minutes // 60

print(hours_exact)
print(hours_full)

5.833333333333333
5

In [60]:
# Comparison before Logical > < == before and or

a = 10
b = 5
c = 3

result = a > b and b > c
print(result)

# Order:
# 10 > 5 → True
# 5 > 3 → True
# True and True → True

True

In [61]:
# not before and:
is_raining = False
is_sunny = True

result = not is_raining and is_sunny
print(result)

# Order:
# not False → True
# True and True → True

True

In [62]:
# and before or:

a = False
b = True
c = False

result = a or b and c
print(result)

# Order:
# b and c → False
# a or False → False

False

In [63]:
# Mixed precedence:

x = 10
y = 2
z = 3

result = x + y * z ** 2
print(result)

# Order:
# z ** 2 → 9
# y * 9 → 18
# x + 18 → 28

28

In [64]:
# Using parentheses to change precedence:

x = 10
y = 2
z = 3

result = (x + y) * z ** 2
print(result)

# Order
# (10 + 2) → 12
# 3 ** 2 → 9
# 12 * 9 → 108

108

In [65]:
# Comparison + Logical + not:

age = 25
experience = 1

eligible = not age < 21 and experience >= 1
print(eligible)

# Order:
# age < 21 → False
# not False → True
# experience >= 1 → True
# True and True → True

True