# PYTHON VARIABLES:

In [34]:
# Creating a variable:
a = 8
b = "Giri"

print(a)
print(b)

8
Giri

In [35]:
a = 8       # a is type int now
a = "Giri"  # a is type str now

print(a)
print(type(a))

Giri
<class 'str'>

In [36]:
# Casting:
a = str(42)
b = int(42)
c = float(42)

print(a)
print(b)
print(c)

42
42
42.0

In [37]:
# Case-sensitive:
d = 42
D = "Boss"

print(d)
print(D)

42
Boss

### PYTHON VARIABLE NAMES:

In [38]:
#Legal variable names:

myname = "Giri"
my_name = "Giri"
_my_name = "Giri"
myName = "Giri"
MYNAME = "Giri"
myname1 = "Giri"

print(myname)
print(my_name)
print(_my_name)
print(myName)
print(MYNAME)
print(myname1)

Giri
Giri
Giri
Giri
Giri
Giri

In [ ]:
#Illegal variable names:
2myname = "Giri"
my-name = "Giri"
my name = "Giri"

#This example will produce an error in the result

### ASSIGN MULTIPLE VALUES

In [40]:
# Many values to multiple variables:
a, b, c = "I", "am", "developer"
print(a)
print(b)
print(c)

I
am
developer

In [41]:
#One Value to Multiple Variables:
d = e = f = "Giri The Developer"
print(d)
print(e)
print(f)

Giri The Developer
Giri The Developer
Giri The Developer

In [42]:
# Unpack a collection:
mycourse = ["Python", "sql", "numpy", "pandas"]

a, b, c, d = mycourse

print(a)
print(b)
print(c)
print(d)

Python
sql
numpy
pandas

### PYTHON OUTPUT VARIABLES:

In [43]:
g = "I am an ML Engineer"
print(g)

I am an ML Engineer

In [44]:
g = "I"
h = "am"
i = "an"
j = "ML"
k = "Engineer"
print(g,h,i,j,k)

I am an ML Engineer

In [45]:
# By + operator:
g = "I "
h = "am "
i = "an "
j = "ML "
k = "Engineer"
print(g + h + i + j + k)

#give space at the end of every values except lastone,
# otherwise output = IamanMLEngineer

I am an ML Engineer

In [46]:
# + for numbers:

l = 42
m = 42

print(l + m)

84

In [47]:
# when u combine a string and a number with + operator you got an error:

n = 3
o = "Boss"
print(n + o)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
# Seperate them with comma(,):

n = 3
o = "Boss"
print(n, o)

3 Boss

#### Other examples:

In [49]:
name = "Giri"
age = 25
salary = 100000

print(name)
print(age)
print(salary)

Giri
25
100000

In [50]:
city = "Bangalore"
pincode = 560001
temperature = 28.5
is_raining = False

print(city)
print(pincode)
print(temperature)
print(is_raining)

Bangalore
560001
28.5
False

In [51]:
# Reassigning variables:
count = 10
print(count)

count = 20
print(count)

count = count + 5
print(count)

10
20
25

In [52]:
a, b, c = 10, 20, 30
print(a)
print(b)
print(c)

10
20
30

In [53]:
x = y = z = 100
print(x)
print(y)
print(z)

100
100
100

In [54]:
# Variables with Arithmetic Operations:

price = 50
quantity = 4

total = price * quantity
print(total)

200

In [1]:
#String + Variable (Concatenation):
name = "Giri"
role = "Python Developer"

print(name + " is a " + role)

Giri is a Python Developer

In [2]:
# Using Variables in f-string:
name = "Giri"
salary = 100000

print(f"My name is {name} and my salary is {salary}")

My name is Giri and my salary is 100000

In [3]:
# Swapping Variables:
a = 5
b = 10

a, b = b, a

print(a)
print(b)

10
5

In [4]:
# Variable Type Checking:
value = 10.5

print(type(value))

<class 'float'>